.navbar {
  background-color: #80c451;

  .links {
    background-color: #80c451 !important;
  }

  .site-name {
    color: #fff !important;
  }

  .nav-links {
    color: #fff;
  }

  .nav-item > a:not(.external):hover,
  .nav-links .router-link-active {
    color: #fff !important;
    border-bottom: 2px solid #fff !important;
  }

  .icon {
    color: #fff;
  }
}


.screenshot {
  background-color: #E8F5E9;
  background-image: url(/camera.svg);
  background-size: 32px;
  background-repeat: no-repeat;
  background-position: 10px 10px;
  background-origin: top right;
  padding: 2.5rem 0 calc(2.5rem - 1.2rem);

  > img {
    display: block;
    margin: 0 auto;
    position: relative;
    width: 80%;
  }

  .caption {
    display: block;
    text-align: center;
    font-size: 0.9rem;
    font-style: italic;
    color: #000;
    margin: 0.3rem 0 0;
  }
}

.theme-container.homepage {
  .page, .theme-default-content {
    padding: 2rem 2rem 0;
    max-width: 960px;
    margin: 0 auto;
    display: block;
  }

  .title {
    margin-bottom: 1.8rem;
  }

  p.action {
    margin: 3rem 0;
    text-align: center;
  }

  a.action-button {
    display: inline-block;
    font-size: 1.2rem;
    color: #fff;
    background-color: #3eaf7c;
    padding: 0.8rem 1.6rem;
    border-radius: 4px;
    transition: background-color 0.1s ease;
    box-sizing: border-box;
    border-bottom: 1px solid #389d70;
    margin: 0 1rem 1rem;
  }
}

.screencast {
  object-fit: cover;
  height: 441x;
  width: 100%;
  max-width: 100%;
  border: 0;
  outline: 0;
}

.subtitle {

}

@media (max-width: 760px) {
  .page, .theme-default-content {
    padding: 2rem 0.75rem 0 !important;
  }

  .screenshot {
    margin: 0 auto;
    width: 100%;
  }
}